---
const { id, text, textClass = '' } = Astro.props;

const spanClass = `whitespace-pre-line showed-text line-clamp-3 ${textClass}`
---

<div class="content">
    <input type="checkbox" id={id} class="read-more-state hidden">
    <span class={spanClass}>
        {text}
    </span>
    <label for={id} class="block w-fit read-more-trigger cursor-pointer mt-2 text-sm text-[#9a9a9a] hover:text-[#5a5a5a] dark:text-[#666] dark:hover:text-[#434343]"></label>
</div>

<style>
    .read-more-state:checked ~ .showed-text {
        overflow: visible;
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-line-clamp: none;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: 'Read more...';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Hide';
    }
</style>