---
import { TAGS } from './Tags.astro';
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"


const PROJECTS = [
  {
    title: "La Masia Events",
    subtitle: "A website for an association",
    description:
      `Visit to buy tickets and know more about La Masia Events,
      an association that organize events and parties.`,
    link: "https://lamasiaevents.com",
    image: "/projects/lamasiaevents.webp",
    tags: [TAGS.REACT, TAGS.NODE, TAGS.MONGODB, TAGS.AWS, TAGS.GCP],
  },
  {
    title: "PONG",
    subtitle: "Classic game for 2 player in PC",
    description:
      `Experience the nostalgia of the classic Pong game with a modern twist. 
      Enjoy competitive fun for two players, crafted entirely using vanilla 
      JavaScript for a seamless and responsive gaming experience.`,
    image: "/projects/pong.webp",
    link: "https://pong-ten-beige.vercel.app/",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Use of cloud solutions for process automation",
    subtitle: "Final project for the Bachelor's degree",
    description:
      `Creation of a website for a company in the supply 
      chain sector and automation of processes to receive a report summarizing 
      invoices and other relevant information via email within a specific time 
      frame using Azure Logic Apps, SQL Server, and C#/.NET.`,
    image: "/projects/tfg.webp",
    link: "/projects/tfg.pdf",
    tags: [TAGS.CSHARP, TAGS.SQLSERVER, TAGS.AZURE, TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Notes App",
    subtitle: "A simple TO DO application",
    description:
      `Note-taking application to strengthen 
      my proficiency in React, Node, and MongoDB. The project features 
      a RESTful API enabling user authentication, allowing seamless logins. 
      Users can effortlessly create, organize, and share notes with others.`,
    image: "/projects/notes-app.webp",
    tags: [TAGS.REACT, TAGS.NODE, TAGS.MONGODB],
  },
]
---

<div class="flex flex-col pt-4 gap-y-20">
  {
    PROJECTS.map(({ image, title, subtitle, description, tags, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={title} class="aspect-[16/9] object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg ">
        <h3 class="center text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-wrap mb-2 gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
          <h4 class="w-[100%] mt-2 font-medium text-gray-800 dark:text-gray-300">
            {subtitle}
          </h4>
          <div class="mt-1 text-justify text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>



